node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

.dev.vars*
!.dev.vars.example
!.env.example

# Panda CSS の生成物
styled-system
styled-system-studio

# Storybook のビルド成果物
storybook-static
